

   body {
    overflow-x: hidden;
  }

   .book-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    max-width: 1200px; 
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) {
    .book-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1200px) {
    .book-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  